{% extends "base.njk" %}

{% block content %}

<section class="single-talk-notes">
    <header>
        <h1 class="font-size-3">{{ title}}</h1>
        <p>Here you can find all notes and links for my talk <i>"{{ title }}"</i>.</p>
        {% if held_at %}
        <ul><b>Held at:</b>
            {% for item in held_at %}
                <li><a href="{{ item.link }}">{{ item.name }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </header>
    {{ content | safe }}
</section>
{% endblock %}
