/* ++++++++++++++++++++++++++++++++++++++++++++++++++
                                            BASE
+++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
:root {
    --color-bg: hsl(279, 19%, 93%);
    --color-fg: #211000;
    --color-contrast-fg: #211000;
    --color-contrast-bg: #211000;

    --stack-spacing: 2rem;
    --spacing: 2rem;

    --color-accent-1: hsl(150, 90%, 70%);
    --color-accent-1-contrast: hsl(150, 30%, 40%);
    --color-accent-2: hsl(250, 100%, 77%);
    --color-accent-2-contrast: hsl(250, 30%, 40%);
    --color-accent-3: hsl(300, 88%, 94%);
    --color-accent-3-contrast: hsl(300, 33%, 39%);
    --color-accent-4: hsl(350, 100%, 70%);
    --color-accent-4-contrast: hsl(350, 50%, 30%);
    --color-accent-5: hsl(47, 100%, 70%);
    --color-accent-5-contrast: hsl(47, 50%, 40%);
    --color-accent-6: hsl(220, 100%, 70%);
    --color-accent-6-contrast: hsl(220, 50%, 40%);

    --color-black: #222;
    --color-white: #f2f2f2;

    --color-note--info: var(--color-accent-4, red);
    --color-note--info-contrast: var(--color-accent-4-contrast, white);

    /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=m,l,2xl,12 */
    /* Utopia font */
    --font-size--2: clamp(0.6944rem, 0.6856rem + 0.0444vi, 0.72rem);
    --font-size--1: clamp(0.8333rem, 0.8101rem + 0.1159vi, 0.9rem);
    --font-size-0: clamp(1rem, 0.9565rem + 0.2174vi, 1.125rem);
    --font-size-1: clamp(1.2rem, 1.1283rem + 0.3587vi, 1.4063rem);
    --font-size-2: clamp(1.44rem, 1.3295rem + 0.5527vi, 1.7578rem);
    --font-size-3: clamp(1.728rem, 1.5648rem + 0.8161vi, 2.1973rem);
    --font-size-4: clamp(2.0736rem, 1.8395rem + 1.1704vi, 2.7466rem);
    --font-size-5: clamp(2.4883rem, 2.1597rem + 1.6433vi, 3.4332rem);

    --font-serif: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
    --font-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;

    /* @link https://utopia.fyi/grid/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=m,l,2xl,12 */
    /* Utopia Grid */
    --grid-max-width: 92.5rem;
    --grid-gutter: var(
        --space-m-l,
        clamp(1.6875rem, 1.4634rem + 1.1207vw, 2.5rem)
    );
    --grid-columns: 12;

    /* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1240,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=m,l,2xl,12 */
    /* Utopia Spaces */
    --space-3xs: clamp(0.25rem, 0.2283rem + 0.1087vi, 0.3125rem);
    --space-2xs: clamp(0.5rem, 0.4783rem + 0.1087vi, 0.5625rem);
    --space-xs: clamp(0.75rem, 0.7065rem + 0.2174vi, 0.875rem);
    --space-s: clamp(1rem, 0.9565rem + 0.2174vi, 1.125rem);
    --space-m: clamp(1.5rem, 1.4348rem + 0.3261vi, 1.6875rem);
    --space-l: clamp(2rem, 1.913rem + 0.4348vi, 2.25rem);
    --space-xl: clamp(3rem, 2.8696rem + 0.6522vi, 3.375rem);
    --space-2xl: clamp(4rem, 3.8261rem + 0.8696vi, 4.5rem);
    --space-3xl: clamp(6rem, 5.7391rem + 1.3043vi, 6.75rem);

    /* One-up pairs */
    --space-3xs-2xs: clamp(0.25rem, 0.1413rem + 0.5435vi, 0.5625rem);
    --space-2xs-xs: clamp(0.5rem, 0.3696rem + 0.6522vi, 0.875rem);
    --space-xs-s: clamp(0.75rem, 0.6196rem + 0.6522vi, 1.125rem);
    --space-s-m: clamp(1rem, 0.7609rem + 1.1957vi, 1.6875rem);
    --space-m-l: clamp(1.5rem, 1.2391rem + 1.3043vi, 2.25rem);
    --space-l-xl: clamp(2rem, 1.5217rem + 2.3913vi, 3.375rem);
    --space-xl-2xl: clamp(3rem, 2.4783rem + 2.6087vi, 4.5rem);
    --space-2xl-3xl: clamp(4rem, 3.0435rem + 4.7826vi, 6.75rem);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    background: #fff;
    font-family: var(--font-sans);
    font-size: var(--font-size-0);
    line-height: 1.65;
}

a,
a:visited {
    color: var(--color-accent-2-contrast);
    text-decoration: dashed;
}

a:hover,
a:focus {
    color: var(--color-accent-2);
    text-decoration: underline;
}

hr {
    border: none;
    background: var(--color-black);
    height: 1px;
}

/*
    Typography
*/

h1,
.font-size-5 {
    font-size: var(--font-size-5);
}

h2,
.font-size-4 {
    font-size: var(--font-size-4);
}

h3,
.font-size-3 {
    font-size: var(--font-size-3);
}

h4,
.font-size-2 {
    font-size: var(--font-size-2);
}

h5,
.font-size-1 {
    font-size: var(--font-size-1);
}

h6,
.font-size-0 {
    font-size: var(--font-size-0);
}

.font-size--1 {
    font-size: var(--font-size--1);
}

.font-size--2 {
    font-size: var(--font-size--2);
}

h2,
h3,
h4,
h5,
h6 {
    padding-top: var(--space-s-m) 0;
}

p,
ul {
    padding: var(--space-xs-s) 0;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.page {
    max-width: 50rem;
    margin: 2rem auto;
    padding: 2rem;
    background: var(--color-white);
    box-shadow: -3px 3px 0 #ccc;
    border-radius: 6px;
    border: 0.125rem solid black;
}

.site-header {
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
}

.bg-accent-1 {
    --color-fg: var(--color-accent-1-contrast);
    --color-bg: var(--color-accent-1);
}

.bg-accent-2 {
    --color-fg: var(--color-accent-2-contrast);
    --color-bg: var(--color-accent-2);
}

.bg-accent-3 {
    --color-fg: var(--color-accent-3-contrast);
    --color-bg: var(--color-accent-3);
}

[class*="bg-accent"] {
    color: var(--color-fg, #211000);
    background: var(--color-bg, #f1f1f1);
}

.link-list li a {
    display: flex;
    color: var(--color-fg, #211000);
    justify-content: space-between;
    align-items: center;
    padding: var(--space-2xs-xs);
    margin-top: 0.5rem;
    font-weight: bold;
    border-radius: 6px;
    box-shadow: -3px 3px 0 var(--color-fg);
    border-top: 1px solid var(--color-fg);
    border-right: 1px solid var(--color-fg);
    text-decoration: none;
}

.link-list li a:hover {
    text-decoration: none;
    background: var(--color-fg);
    color: var(--color-bg);
}

.site-footer {
    font-size: var(--font-size--1);
}

img {
    max-width: 100%;
}

.avatar {
    max-width: 15rem;
    border-radius: 6px;
    box-shadow:
        -8px 8px 0 var(--color-accent-1),
        8px -8px 0 var(--color-accent-3);
    transition: box-shadow 0.3s;
}

.avatar:hover {
    box-shadow: none;
}

@media all and (max-width: 50rem) {
    .site-header {
        flex-direction: column;
        gap: 1rem;
    }

    .link-list li a {
        flex-wrap: wrap;
    }
}
