<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🔗</text></svg>">
    <title>Kevin Gimbel is a DevOps Engineer and Hobby Photographer</title>
    {% set css %} {% include "styles.css" %} {% endset -%}
    <style>{{- css | cssmin | safe -}}</style>
</head>
<body>
    <main class="page">
        <header class="site-header">
            <div class="avatar-wrapper">
                <img src="assets/img/kg-bw.jpeg" class="avatar" />
            </div>
            <h1>Kevin Gimbel</h1>
            <p>is a DevOps Engineer at <a href="https://aoe.com/" title="Visit aoe.com">AOE GmbH</a>
            and Hobby Photographer.</p>
        </header>
        <h2>Social</h2>
        <ul class="link-list">
            {%- for site in links.socials -%}
            <li><a href="{{ site.link }}" target="_blank" title="{{ site.title }}" class="link-list__link"><span class="link__name">{{ site.name }}</span> <small class="link__url-txt">{{ site.link }}</small> </a></li>
            {%- endfor -%}
        </ul>
        <h2>Blogs</h2>
        <ul class="link-list">
            {%- for site in links.websites -%}
            <li><a href="{{ site.link }}" target="_blank" title="{{ site.title }}" class="link-list__link"><span class="link__name">{{ site.name }}</span> <small class="link__url-txt">{{ site.link }}</small> </a></li>
            {%- endfor -%}
        </ul>
        <hr>
        <footer>
            <p>Made with 💖 and <a href="https://11ty.dev/" title="Eleventy">11ty</a>. <a href="https://github.com/KevinGimbel/keg.im" title="Source Code on GitHub.com">Source Code</a></p>
        </footer>
    </main>
</body>
</html>