{% extends "base.njk" %}

{% block content %}
<p class="font-size-1"><b>Kevin Gimbel</b> is a <span class="bg-accent-3">Senior DevOps Engineer</span> working at AOE GmbH in Wiesbaden, Germany.</p>
<p>You can find more info about him on <a href="https://kevingimbel.de/">kevingimbel.de</a> or follow him on <a href="https://fosstodon.org/@KevinGimbel">Mastodon</a>.</p>
{% endblock %}
